@font-face {
  font-family: 'schoolbellregular';
  src: url(fonts/Schoolbell.ttf);
}

* {
  padding: 0;
  margin: 0;
  background-color: rgb(17, 141, 135);
  font-family: 'schoolbellregular';
}

.imgs {
  width: 200px;
}

#game-title {
    text-align: center;
    padding: 20px;
    font-size: 35pt;
}

#icon-display{
    display: flex;
    justify-content: space-evenly;
}

#coop-div {
  display: block;
  justify-content: center;
  text-align: center;
}

#rump-div {
  display: block;
  justify-content: center;
  text-align: center;
}

#catch-phrase {
    display: flex;
    justify-content: center;
    padding: 50px;
}

#winningMessageText {
  font-size: 30pt;
}

#btn-section {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}


.board {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 600px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;

}

.tile {
    border: 1px solid black;
    min-width: 100px;
    min-height: 200px;
    font-size: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
}

/* remove border for edges */

.tile:nth-child(1), .tile:nth-child(2), .tile:nth-child(3) {
	border-top: none;
}

.tile:nth-child(1), .tile:nth-child(4), .tile:nth-child(7) {
	border-left: none;
}

.tile:nth-child(3), .tile:nth-child(6), .tile:nth-child(9) {
	border-right: none;
}

.tile:nth-child(7), .tile:nth-child(8), .tile:nth-child(9) {
	border-bottom: none;
}

/* button */

.btns {
  background-color: #ee8453;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.75rem;
  text-align: center;
  text-decoration: none #000000 solid;
  width: 100%;
  max-width: 200px;
  height: 50px;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btns:focus {
  outline: 0;
}

.btns:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.btns:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .btns {
    padding: .75rem 3rem;
    font-size: 1.75rem;
  }
}
